---
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const pages = [
  {
    img: "/images/Pulsera.jpg",
    nombre: "Prueba",
    precio: 0 ,
    precioDescuento: 0 , 
    descripcion: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius eum reprehenderit dolore vel mollitia optio consequatur hic asperiores inventore suscipit, velit  consequuntur, voluptate doloremque iure necessitatibus adipisci magnam porro",
    categoria: "Oro",
    material: " Oro",
    Color: "Dorado",
    slug:"Dorado"
  },
  
];
  return pages.map(({  slug, img , nombre , precio , precioDescuento , descripcion ,  categoria , material, Color }) => {
    return {
      params: {slug},
      props: { img , nombre , precio , precioDescuento , descripcion ,  categoria , material, Color },
    };
  });
  
}
const { img , nombre , precio , precioDescuento , descripcion ,  categoria , material, Color } = Astro.props;

---

<Layout>

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product - Ecommerce Tailwind</title>
    
        <link rel="shortcut icon" href="../assets/images/favicon/favicon.ico" type="image/x-icon">
    
        <link rel="stylesheet" href="../assets/css/main.css">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet">
    
        <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    </head>
    
    <body>
       
    
        <div class="container grid grid-cols-2 gap-6">
            <div>
                <img src={img} alt="product" class="w-full">
                <div class="grid grid-cols-5 gap-4 mt-4">
                    <img src={img} alt="product2"
                        class="w-full cursor-pointer border border-primary">
                    <img src={img} alt="product2" class="w-full cursor-pointer border">
                    <img src={img} alt="product2" class="w-full cursor-pointer border">
                    <img src={img} alt="product2" class="w-full cursor-pointer border">
                    <img src={img} alt="product2" class="w-full cursor-pointer border">
                </div>
            </div>
    
            <div>
                <h2 class="text-3xl font-medium uppercase mb-2">{nombre}</h2>
                <div class="flex items-center mb-4">
                    
                   
                </div>
                <div class="space-y-2">
                   
                   
                    <p class="space-x-2">
                        <span class="text-gray-800 font-semibold">Categoria: </span>
                        <span class="text-gray-600">{categoria}</span>
                    </p>
                    
                </div>
                <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                    <p class="text-xl text-primary font-semibold">{precioDescuento}</p>
                    <p class="text-base text-gray-400 line-through">{precio}</p>
                </div>
    
                <p class="mt-4 text-gray-600">{descripcion}</p>
    
                <div class="pt-4">
                    <h3 class="text-sm text-gray-800 uppercase mb-1">Size</h3>
                    <div class="flex items-center gap-2">
                        <div class="size-selector">
                            <input type="radio" name="size" id="size-xs" class="hidden">
                            <label for="size-xs"
                                class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XS</label>
                        </div>
                        <div class="size-selector">
                            <input type="radio" name="size" id="size-sm" class="hidden">
                            <label for="size-sm"
                                class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">S</label>
                        </div>
                        <div class="size-selector">
                            <input type="radio" name="size" id="size-m" class="hidden">
                            <label for="size-m"
                                class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">M</label>
                        </div>
                        <div class="size-selector">
                            <input type="radio" name="size" id="size-l" class="hidden">
                            <label for="size-l"
                                class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">L</label>
                        </div>
                        <div class="size-selector">
                            <input type="radio" name="size" id="size-xl" class="hidden">
                            <label for="size-xl"
                                class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600">XL</label>
                        </div>
                    </div>
                </div>
    
               
                <div class="mt-4">
                    <h3 class="text-sm text-gray-800 uppercase mb-1">Cantidad</h3>
                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                        <div class="h-8 w-8 text-base flex items-center justify-center">4</div>
                        <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">+</div>
                    </div>
                </div>
    
                <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
                    <a href="#"
                        class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                        <i class="fa-solid fa-bag-shopping"></i> Añadir al Carro
                    </a>
                    
                </div>
    
               
            </div>
        </div>
      
        <div class="container pb-16">
            <h3 class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium">Product details</h3>
            <div class="w-3/5 pt-6">
                <div class="text-gray-600">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus deleniti natus
                        dolore cum maiores suscipit optio itaque voluptatibus veritatis tempora iste facilis non aut
                        sapiente dolor quisquam, ex ab.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quae accusantium voluptatem
                        blanditiis sapiente voluptatum. Autem ab, dolorum assumenda earum veniam eius illo fugiat possimus
                        illum dolor totam, ducimus excepturi.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quia modi ut expedita! Iure molestiae
                        labore cumque nobis quasi fuga, quibusdam rem? Temporibus consectetur corrupti rerum veritatis
                        numquam labore amet.</p>
                </div>
    
                <table class="table-auto border-collapse w-full text-left text-gray-600 text-sm mt-6">
                    <tr>
                        <th class="py-2 px-4 border border-gray-300 w-40 font-medium">Color</th>
                        <th class="py-2 px-4 border border-gray-300 ">{Color}</th>
                    </tr>
                    <tr>
                        <th class="py-2 px-4 border border-gray-300 w-40 font-medium">Material</th>
                        <th class="py-2 px-4 border border-gray-300 ">{material}</th>
                    </tr>
                    
                </table>
            </div>
        </div>
        
    
     
        
    </body>
    
    </html>
</Layout>
