---

import Logo from "../images/Logo.png"
export interface Props {
    title?: string;
}

const { title } = Astro.props;


interface MenuOption {
    name: string;
    url: string;
}

const menuOptions: MenuOption[] = [
    { name: 'Anillos', url: '/cm' },
    { name: 'Oro', url: '#' },
    { name: 'Plata', url: '#' },
    { name: 'Collares', url: '#' },
    { name: 'Aretes', url: '#' },
    
];
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar Responsivo con Tailwind CSS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex items-center justify-between py-4 px-8 border-b">
        <div class="flex space-x-4">
            <a href="#" class="text-sm text-gray-600 hover:text-gray-800">SERVICIOS</a>
            <a href="#" class="text-sm text-gray-600 hover:text-gray-800">REDES SOCIALES</a>
        </div>
        <div class="flex items-center space-x-2">
            <!-- Logo Image -->
            <img src={Logo.src} alt="Logo" class="h-8">
            <div class="flex flex-col items-center">
                <span class="text-gold-500 text-xl font-bold">The Golden HN</span>
                <span class="text-gold-500 text-sm font-light">Joyeros</span>
            </div>
        </div>
        <div class="hidden md:flex space-x-8">
            {menuOptions.map((option) => (
                <a href={option.url}  class="text-md text-gray-800 hover:text-gray-900">{option.name}</a>
            ))}
        </div>
      
        <button id="menu-button" class="block md:hidden text-gray-800 hover:text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
            </svg>
        </button>
    </nav>
    <div id="mobile-menu" class="hidden md:hidden">
        {menuOptions.map((option) => (
            <a href={option.url} class="block px-4 py-2 text-md text-gray-800 hover:bg-gray-100">{option.name}</a>
        ))}
       
    </div>

    <script>
        document.getElementById('menu-button')?.addEventListener('click', function() {
            var mobileMenu = document.getElementById('mobile-menu');
            if (mobileMenu?.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
            } else {
                mobileMenu?.classList.add('hidden');
            }
        });
    </script>
</body>
</html>
